@using PhotoContest.Web.Models.ViewModels
@using PhotoContest.Web.Models.BindingModels
@using PagedList.Mvc;
@model ContestDetailsViewModel
@{
    ViewBag.Title = "Contest" + Model.Title;
}

<div id="img-container">
    <h2>Contest @Model.Title</h2>
    <div class="row">
        <div class="col-md-3">
            Participations (All Spots): @Model.ParticipationsCount (@(String.IsNullOrEmpty(Model.MaxParticipationsCount.ToString()) ? "No Limit" : Model.MaxParticipationsCount.ToString()))
        </div>
        <div class="col-md-3">
            Time Left (End Time): @(Model.ParticipationEndTime == default(DateTime) ? "No Limit" : (Model.ParticipationEndTime > DateTime.Now ? (Model.ParticipationEndTime - DateTime.Now).ToString(@"dd\.hh\:mm\:ss") : "0:00:00:00") + " (" + @Model.ParticipationEndTime + ")")
        </div>
        <div class="col-md-3">
            Voting: @Model.VotingStrategy
            @if (Model.CanVote && User.Identity.IsAuthenticated)
            {
                <p>You can vote for one image</p>
            }
        </div>
        @if (Model.CanParticipate && Request.IsAuthenticated)
        {
            <div class="col-md-3">
                <p id="delete-response">
                    @if (TempData["succDelete"] != null)
                    {
                        @:TempData["succDelete"]
                }
                </p>
                <p>Would you like to participate in ths contest?</p>
                <button class="btn btn-info" id="shows-upload-form" data-toggle="modal" data-target="#uploadModal">Upload Image</button>
                <div class="modal fade" id="uploadModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Upload Image</h4>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("Images/_UploadImg", new UploadImageBindingModel() { ContestId = Model.Id })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row1" id="pic-container">
        @Html.Partial("_ListPagedImages", Model.Picuters)
        
    </div>
    @Html.PagedListPager((IPagedList)Model.Picuters, page => Url.Action("details", "Contest", new { id = Model.Id, page }))
</div>



@section styles{
    @Styles.Render("~/Content/Images/css")
}

@section scripts{
    <script>
        $("#shows-upload-form").click(function () {
            $("#upload-form-container").slideToggle();
        });
    </script>

    @if (Model.CanParticipate)
    {
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#uploadPhotoPreview').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#uploadPhoto").change(function () {
                readURL(this);
            });
        </script>
    }
}

