@using PhotoContest.Web.Models.ViewModels
@model ContestMembersViewModel
@{
    ViewBag.Title = "Members";
}

@Html.Partial("_FlashMessages")

<h2>Participants in @Model.Title</h2>
@using (Html.BeginForm("AddParticipant", "Contest", new { id = Model.Id }, FormMethod.Post))
{
    <input data-url="/User/getUsers" name="username" type="text" placeholder="Enter username" class="form-control" id="add-member" />
    <input type="submit" value="Add" class="btn btn-success" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveParticipant", "Contest", new { id = Model.Id, userId = user.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/bundles/additional")    
}

