@using PhotoContest.Web.Models.ViewModels
@model ContestModel

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title)
</div>
    <div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PossibleWinnersCount)
    @Html.TextBoxFor(m => m.PossibleWinnersCount, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.PossibleWinnersCount)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ParticipationEndTime)
    @Html.TextBoxFor(m => m.ParticipationEndTime, new { @class = "form-control", id = "datepicker" })
    @Html.ValidationMessageFor(m => m.ParticipationEndTime)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaxParticipationsCount)
    @Html.TextBoxFor(m => m.MaxParticipationsCount, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MaxParticipationsCount)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.VotingStrategy)
    @Html.EnumDropDownListFor(m => m.VotingStrategy, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ParticipationStrategy)
    @Html.EnumDropDownListFor(m => m.ParticipationStrategy, new { @class = "form-control" })
</div>

<script type="text/javascript">
    $(function () {
        $("#datepicker").datetimepicker();
    });
</script>