@using PhotoContest.Web.Models.BindingModels
@model EditUserProfileBindingModel

<label>FirstName</label>
<input type="text" value="@Model.FirstName" class="form-control" name="FirstName" />
<label>LastName</label>
<input type="text" value="@Model.LastName" class="form-control" name="LastName" />
<label>AvatarPath</label>
<input type="text" value="@Model.AvatarPath" class="form-control" name="AvatarPath" />
<label>PhoneNumber</label>
<input type="text" value="@Model.PhoneNumber" class="form-control" name="PhoneNumber" />
<label>AboutMe</label>
<input type="text" value="@Model.AboutMe" class="form-control" name="AboutMe" />