@using PhotoContest.Web.Models.BindingModels

@model UploadImageBindingModel

@using (@Html.BeginForm("UploadImage", "Images", Model, FormMethod.Post, new { id = "upload-image-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <h4>Fill in image data:</h4>   
    <div class="input-group">
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
        @Html.LabelFor(m => m.Title)<br />
        @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control" })
    </div>
    <br />
    <div class="input-group">
        @Html.ValidationMessageFor(m => m.PhotoFile, null, new { @class = "text-danger" })
        @Html.LabelFor(m => m.PhotoFile)<br />
        @Html.TextBoxFor(m => m.PhotoFile, null, new { type = "file", @class = "form-control", id = "uploadPhoto", value = "Upload" })
    </div>
    <br />
    <div class="input-group">
        @Html.LabelFor(m => m.Description)<br />
        @Html.TextAreaFor(m => m.Description, new
   { @*@class = "form-control",*@ row = "5"
   })
    </div>
    <br />
        <input type="submit" class="btn btn-primary" value="Upload" />
        <div>
            <br />
            <h5>Preview:</h5>
            <img src="http://www.rentals-london.co.uk/assets/images/new-developments/awaiting_image.png" id="uploadPhotoPreview" />
        </div>
}
