@using PhotoContest.Web.Models.BindingModels
@using PhotoContest.Web.Models.ViewModels
@model OwnImageViewModel

<tr>
    <td>
        <img class="img-thumbnail" style="width: 150px; height: 150px" src="@Model.ImgPath"/>
        <button type="button" class="btn-img-admin-author-edit" data-toggle="modal" data-target="#editImage@(Model.Id)">EDIT</button>

        <!-- Modal -->
        <div id="editImage@(Model.Id)" class="modal fade" role="dialog">
            <div class="modal-dialog edit-img">
                <div class="modal-body">
                    <div class="modal-header">
                        <img src="@Model.ImgPath"  class="edit-pic" />
                    </div>

                    <!-- Modal content-->
                    <div class="modal-content">
                        @Html.Partial("_EditImage", new EditImageBindingModel() { Id = Model.Id })
                    </div>
                </div>
            </div>
        </div>
        @Ajax.ActionLink("DELETE", "Delete", "Images", new { id = Model.Id }, new AjaxOptions
   {
       HttpMethod = "POST",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "pic-container"
   }, htmlAttributes: new
   {
       @class = "btn-img-admin-author-delete",
       onclick = "return confirm('Are you sure you want to delete this image?');"
   })
    </td>
    <td><strong>@Model.Votes</strong></td>
    <td>@Model.ContestName</td>
    <td>@Model.State</td>
    @if (Model.EndTime == null)
    {
        <td>No Limit</td>
    }
    else
    {
        <td>@Model.EndTime</td>
    }
</tr>

