@using PhotoContest.Web.Models.ViewModels
@using PhotoContest.Web.Models.BindingModels
@using PhotoContest.Web.Helpers

@model PagedImageViewModel


<div class="paged-img-container">
    <div class="img-thumb">
        <a href="@Url.Action("ViewImage", "Images", new { id = Model.Id })">
            <img class="contest-img" src="@Model.ImagePath" id="img-@Model.Id" />
        </a>
        <div id="triangle-down-left"></div>
        <div class="triangle-down-right" id="triangle-d-r-@(Model.Id)">
        </div>
        <button type="button" class="view-div" data-toggle="modal" data-target="#viewImage@(Model.Id)" id="btn-size-@(Model.Id)">
            <div class="part-bor top left"></div>
            <div class="part-bor top right"></div>
            <div class="part-bor bottom left" id="odd"></div>
            <div class="part-bor bottom right"></div>
        </button>

        <!-- Modal -->
        <div id="viewImage@(Model.Id)" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <image src="@Model.ImagePath" class="img-display-only" />
                        <button type="button" class="btn-exit" data-dismiss="modal">X</button>
                    </div>
                </div>

            </div>
        </div>

        @Ajax.RawActionLink("<span class='fa fa-thumbs-o-up'></span>" + Model.VotesCount, "vote", "Vote", new { id = Model.Id },
                   new AjaxOptions
                   {
                       HttpMethod = "POST",
                       UpdateTargetId = "vote-btn",
                       InsertionMode = InsertionMode.Replace
                   }, new { @class = "vote-btn", id = "vote-btn" })

        <div class="img-admin-author-btncontainer">
            @if (User.IsInRole("Admin") || User.Identity.Name == Model.AuthorUsername)
            {
                @Ajax.ActionLink("DELETE", "Delete", "Images", new { id = Model.Id }, new AjaxOptions
           {
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "pic-container"
           }, htmlAttributes: new
           {
               @class = "btn-img-admin-author-delete",
               onclick = "return confirm('Are you sure you want to delete this image?');"
           });
                <button type="button" class="btn-img-admin-author-edit" data-toggle="modal" data-target="#editImage@(Model.Id)">EDIT</button>

        <!-- Modal -->
                <div id="editImage@(Model.Id)" class="modal fade" role="dialog">
                    <div class="modal-dialog edit-img">
                        <div class="modal-body">
                            <div class="modal-header">
                                <img src="@Model.ImagePath" alt="@Model.Title" class="edit-pic" />
                            </div>

                            <!-- Modal content-->
                            <div class="modal-content">
                                @Html.Partial("_EditImage", new EditImageBindingModel() { Id = Model.Id })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*@section scripts{
    @Styles.Render("~/Content/Images/css")


}*@

<script>
    $("#btn-size-@(Model.Id)").mouseover(function () {
        $("#triangle-d-r-@(Model.Id)").css({
            "display": "inline-block",
            "border-width": "0 0 120px 120px"
            
        });
    });
    $("#btn-size-@(Model.Id)").mouseout(function () {
        $("#triangle-d-r-@(Model.Id)").css({
            "display": "none",
            "border-width": "0 0 80px 80px"
        })
    });
</script>